{% extends "base.html" %}

{% block content %}


<div class="container" align="center">
    <h1>Opinie</h1>
    <a href="{% url 'opinie:dodaj_opinie' %}" class="btn btn-primary" role="button">Dodaj opinie</a>
    <h2>Lista opinie:</h2>
</div>
<div class="container" align="center">
    <div class="row">
    {% for opinie in object_list %}

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-body primary">
                    Imie: {{ opinie.imie }}
                </div>
                <div class="panel-footer">{{ opinie.tresc }}</div>
        </div>

    {% endfor %}
    </div>
</div>

{% endblock %}