{% extends "base.html" %}
<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="http://getbootstrap.com/examples/carousel/carousel.css" rel="stylesheet">
<script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
{% block content %}

<div class="container">

    <div class="row">

        <div class="col-md-6">


            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                    <div class="item active">
                          <img src="media/photos/1.jpg" alt="...">
                          <div class="carousel-caption">
                            Najnowsze produkty
                          </div>
                    </div>
                    <div class="item">
                          <img src="media/photos/2.jpg" alt="...">
                          <div class="carousel-caption">
                            Super okazje
                          </div>
                    </div>
              </div>

           </div>
        </div>

        <div class="col-md-6">

            <h1 align="center">Jak działamy:</h1>
            <hr>

        </div>

    </div>
</div>
{% endblock %}