{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}


<div class="container">

    <div class="row">


        <div class="col-md-6">

            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10084.096005078598!2d19.1272777!3d50.812194!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb95466f184586db2!2sVIP+Outlet%2FLombard+-+Daszy%C5%84skiego!5e0!3m2!1spl!2spl!4v1483886183754" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            <!--<h3>My Google Maps Demo</h3>
            <div id="map"></div>
            <script>
              function initMap() {
                var uluru = {lat: -25.363, lng: 131.044};
                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 4,
                  center: uluru
                });
                var marker = new google.maps.Marker({
                  position: uluru,
                  map: map
                });
              }
            </script>-->


        </div>
        <div class="col-md-6">

            <form method="POST" action="" class="form-horizontal"> {% csrf_token %}
                <div class="form-group" align="center">
                    {{ form|crispy }}
                    <input type='submit' value="Wyślij" class='btn btn-primary' />
                </div>

            </form>

        </div>
    </div>

</div>

{% endblock %}
