{% extends "base.html" %}

{% block content %}

<div class="container" align="center">

    <h1>Lista produktów:</h1>

</div>

<div class="container-fluid" align="center">

    <div class="row">

        {% for product_detail in object_list %}

        <div class="col-sm-4 col-lg-3">

            <div class="thumbnail" >

                <a href="{% url 'produkty:product_detail_detail' product_detail.id %}"><h2>{{ product_detail.name }}</h2></a>
                {% if product_detail.photo %}
                <img src="{{product_detail.photo.url}}"  class="img-responsive"><br> <br>
                {% endif %}
            </div>

        </div>

        {% endfor %}


    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<script src="http://getbootstrap.com/assets/js/vendor/holder.min.js"></script>

{% endblock %}

