{% extends "base.html" %}

{% block content %}



<div class="container" align="center">

    {% if perms.produkty %}<a href="{% url 'produkty:product_detail_add' %}" class="btn btn-success btn-lg" role="button">Dodaj produkt</a>{% endif %}
    <br>
    <br>
    <div class="row">

        <div class="col-md-4" align="left">

            <h3>Kategorie</h3>
            <ul style="font-size:16px" class="list-group">
                <a href="{% url 'produkty:bizuteria_list' %}" class="list-group-item"> Biżuteria</a>
                <a href="{% url 'produkty:telefony_list' %}"class="list-group-item" > Telefony </a>
                <a href="{% url 'produkty:tablety_list' %}" class="list-group-item"> Tablety </a>
                <a href="{% url 'produkty:laptopy_list' %}" class="list-group-item"> Laptopy </a>
                <a href="{% url 'produkty:inne_list' %}" class="list-group-item"> Inne </a>
            </ul>
        </div>

        <div class="col-md-8">


            <div class="row">
                {% for product_detail in object_list %}
                <div class="col-md-3">
                    {% if product_detail.photo %}
                    <a href="{% url 'produkty:product_detail_detail' product_detail.id %}" class="thumbnail"> <img src="{{product_detail.photo.url}}"  class="img-responsive"></a>
                    {% else %}
                    <a href="{% url 'produkty:product_detail_detail' product_detail.id %}" class="thumbnail"> <img src="/media/b.jpg" class="img-responsive" ></a>
                    {% endif %}
                    <a href="{% url 'produkty:product_detail_detail' product_detail.id %}"><h4 align="left">{{ product_detail.get_producent_display }} {{ product_detail.name|truncatewords_html:1 }}</h4></a>
                    <p align="left">{{product_detail.prize}} zł</p>
                    {% if perms.produkty %}
                    <div class="btn-group-xs" role="group" aria-label="...">
                        <a href="{% url 'produkty:product_detail_update' product_detail.id %}" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> Edytuj</span></a>
                        <a href="{% url 'produkty:product_detail_delete' product_detail.id %}" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"> Usuń</span></a>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>

        </div>


    </div>
</div>

{% endblock %}

