{% extends "base.html" %}

{% block content %}
{% load staticfiles %}

<div class="container" align="center">

    <h2>{{object.name}}</h2><br>

</div>
<br>

<div class="container-fluid">

    <div class="row">

        <div class="col-lg-6 col-lg-offset-3">
            <h4 align="center">Storyboard:</h4>
            <a href="{{object.photo.url}}"><img src="{{object.photo.url}}"  class="img-responsive"></a><br>
            <table class="table table-striped table-bordered" style="text-align:center">
                {% if object.material %}
                <tr>
                    <th>Kruszec:</th>
                    <td>{{object.get_material_display}}</td>
                </tr>
                {% endif %}
                {% if object.producent %}
                <tr>
                    <th>Producent:</th>
                    <td>{{object.get_producent_display}}</td>
                </tr>
                {% endif %}
            </table>
        </div>

    </div>

</div>





{% endblock %}