{% extends "base.html" %}

{% block content %}



<div class="container" align="center">

    {% if perms.produkty %}<a href="{% url 'produkty:product_detail_add' %}" class="btn btn-success btn-lg" role="button">Dodaj produkt</a>{% endif %}
    <br>
    <br>
    <div class="row">

        <div class="col-md-4" align="left">

            <h3>Rodzaj produktu</h3>
            <ul style="font-size:16px" class="list-group">
                <a href="{% url 'produkty:bizuteria_list' %}" class="list-group-item"> Biżuteria</a>
                <a href="{% url 'produkty:telefony_list' %}"class="list-group-item" > Telefony </a>
                <a href="{% url 'produkty:tablety_list' %}" class="list-group-item"> Tablety </a>
                <a href="{% url 'produkty:laptopy_list' %}" class="list-group-item"> Laptopy </a>
                <a href="{% url 'produkty:inne_list' %}" class="list-group-item"> Inne </a>
            </ul>

            <h3>Kategorie biżuterii</h3>
            <ul style="font-size:16px" class="list-group">
                <a href="{% url 'produkty:pierscionki_list' %}" class="list-group-item"> Pierścionki </a>
                <a href="{% url 'produkty:kolczyki_list' %}"class="list-group-item" > Kolczyki </a>
                <a href="{% url 'produkty:naszyjniki_list' %}" class="list-group-item"> Naszyjniki </a>
                <a href="{% url 'produkty:bransoletki_list' %}" class="list-group-item"> Bransoletki </a>
                <a href="{% url 'produkty:wisiorki_list' %}" class="list-group-item"> Wisiorki </a>
                <a href="{% url 'produkty:broszki_list' %}" class="list-group-item"> Broszki </a>
                <a href="{% url 'produkty:lancuszki_list' %}" class="list-group-item"> Łańcuszki </a>
            </ul>

            <h3>Kruszec</h3>
            <ul style="font-size:16px" class="list-group">
                <a href="{% url 'produkty:zloto_list' %}" class="list-group-item"> Złoto </a>
                <a href="{% url 'produkty:srebro_list' %}"class="list-group-item" > Srebro </a>
            </ul>

            <h3>System operacyjny</h3>
            <ul style="font-size:16px" class="list-group">
                <a href="{% url 'produkty:android_list' %}" class="list-group-item"> Android </a>
                <a href="{% url 'produkty:ios_list' %}"class="list-group-item" > iOS </a>
                <a href="{% url 'produkty:windows_list' %}" class="list-group-item"> Windows </a>
            </ul>
        </div>

        <div class="col-md-8">
            <form method='GET' action=''>
            <input type='text' name='q' placeholder='Search posts' value='{{ request.GET.q }}'/>
            <input type='submit' value='Search' />
            </form>

            <div class="row">
                {% for product_detail in object_list %}
                <div class="col-md-3">
                    {% if product_detail.fotos %}
                    <a href="{% url 'produkty:product_detail_detail' product_detail.id %}" class="thumbnail"> <img src="{{product_detail.fotos.url}}"  class="img-responsive"></a>
                    {% else %}
                    <a href="{% url 'produkty:product_detail_detail' product_detail.id %}" class="thumbnail"> <img src="/media/b.jpg" class="img-responsive" ></a>
                    {% endif %}
                    <a href="{% url 'produkty:product_detail_detail' product_detail.id %}"><h4 align="left">{{ product_detail.get_producent_display }} {{ product_detail.name|truncatewords_html:1 }}</h4></a>
                    <p align="left">{{product_detail.prize}} zł</p>
                    {% if perms.produkty %}
                    <div class="btn-group-xs" role="group" aria-label="...">
                        <a href="{% url 'produkty:product_detail_update' product_detail.id %}" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> Edytuj</span></a>
                        <a href="{% url 'produkty:product_detail_delete' product_detail.id %}" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"> Usuń</span></a>
                    </div>
                    <br>
                    {% endif %}
                </div>
                {% endfor %}
            </div>

        </div>


    </div>
</div>

{% endblock %}

